.card{
    width: 15rem;
}

.card:hover{
    transform: scale(102%);
    transition: .2s ease-in-out;
}

.card-trai{
    border-color: #17A2B8;
}

.total{
    background-color: #CCE5FF;
    color: #0040A5;
}

.bi-chevron-down{
    position:absolute;
    right: 1rem;
    bottom: .4rem;
}

