:root{
    --color-verde: #29A645;
    --color-verde-claro: #96C93E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.texto-verde{
    color: var(--color-verde);
}

.color-verde {
    background-color: var(--color-verde);
  }

.color-verde-claro{
    background-color: var(--color-verde-claro);
}

.logo-codo-a-codo{
    width: 100px;
}
.filter-dark{
    
}
.banner{
    height: 100vh;
    overflow: hidden;
    color: aliceblue;
    top: 0;
    left: 0;
}

.bg-image {
    background-image: url("./assets/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    height: 100vh;
}

#text-white{
    color: #ffffff;
    z-index: 50;
}

.imagen-mediana{
    width: 300px;
    max-width: 300px;
}

.bg-cover{
    background-image: url(./assets/images/hawaii-en-la-actualidad.jpg);
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
}

.subrayado-punteado{
    border-bottom: 1px dotted black;
  }
.form-control::placeholder-shown {
    color: #999999;
  }

.form-control::-webkit-input-placeholder {
    color: #999999;
  }

.fs-7{
    font-size: 0.8rem;
}

.fs-8{
    font-size: 0.7rem;
}

.list-group-item{
    width: 100px;
    text-align: center;
    cursor: pointer;
}

footer{
    background-image: linear-gradient(to right, #1C3643, #1D5271);
}